pre {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem;
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-medium);
    border-radius: 8px;
  }
  